<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AlunoDigital.AssinadorDigital.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CloudDocs.AssinadorDigital.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <AlunoDigital.AssinadorDigital.Properties.Settings>
      <setting name="AlunoDigital_AssinadorDigital_WsDocs2_WSDocs2" serializeAs="String">
        <value>http://www.clouddocs.com.br/WsDocs2.asmx</value>
      </setting>
    </AlunoDigital.AssinadorDigital.Properties.Settings>
    <CloudDocs.AssinadorDigital.Properties.Settings>
      <setting name="AlunoDigital_AssinadorDigital_WsDocs2_WSDocs2"
        serializeAs="String">
        <value>https://www.clouddocs.com.br/WsDocs2.asmx</value>
      </setting>
      <setting name="CloudDocs_AssinadorDigital_WsDocs2_WSDocs2" serializeAs="String">
        <value>https://www.clouddocs.com.br/WsDocs2.asmx</value>
      </setting>
    </CloudDocs.AssinadorDigital.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="LinkSite" value="" />
    <add key="Key" value="" />
    <add key="Endereco" value="" />
    <add key="LoginProxy" value="" />
    <add key="SenhaProxy" value="" />
    <add key="Dominio" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.4460.0.50" newVersion="20.4460.0.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
